@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap");
// All other than brand
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Bowlby+One+SC&family=Raleway&family=Sacramento&display=swap");

body {
    .navbar-brand {
        font-family: Bowlby One;
    }
    font-family: Roboto;
    height: 100%;
    .link {
        a {
            text-decoration: none;
            &:hover {
                color: green;
            }
        }
    }
    nav {
        .navbar-nav {
            li {
                a {
                    &:hover {
                        color: green !important;
                    }
                }
            }
        }
    }
    .asteriskField {
        display: none;
    }
}
